$font-path: "assets/fonts/hk-grotesk/";

/* Webfont: HK Grotesk Regular */
@font-face {
    font-family: 'HK Grotesk';
    src: url('#{$font-path}HKGrotesk-Regular.eot'); /* IE9 Compat Modes */
    src: url('#{$font-path}HKGrotesk-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$font-path}HKGrotesk-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('#{$font-path}HKGrotesk-Regular.woff') format('woff'), /* Modern Browsers */
         url('#{$font-path}HKGrotesk-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* Webfont: HK Grotesk Italic */
@font-face {
    font-family: 'HK Grotesk';
    src: url('#{$font-path}HKGrotesk-Italic.eot'); /* IE9 Compat Modes */
    src: url('#{$font-path}HKGrotesk-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$font-path}HKGrotesk-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('#{$font-path}HKGrotesk-Italic.woff') format('woff'), /* Modern Browsers */
         url('#{$font-path}HKGrotesk-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}

/* Webfont: HK Grotesk Medium */
@font-face {
    font-family: 'HK Grotesk';
    src: url('#{$font-path}HKGrotesk-Medium.eot'); /* IE9 Compat Modes */
    src: url('#{$font-path}HKGrotesk-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$font-path}HKGrotesk-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('#{$font-path}HKGrotesk-Medium.woff') format('woff'), /* Modern Browsers */
         url('#{$font-path}HKGrotesk-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

/* Webfont: HK Grotesk Medium Italic */
@font-face {
    font-family: 'HK Grotesk';
    src: url('#{$font-path}HKGrotesk-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('#{$font-path}HKGrotesk-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$font-path}HKGrotesk-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
         url('#{$font-path}HKGrotesk-MediumItalic.woff') format('woff'), /* Modern Browsers */
         url('#{$font-path}HKGrotesk-MediumItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 500;
}

/* Webfont: HK Grotesk Bold */
@font-face {
    font-family: 'HK Grotesk';
    src: url('#{$font-path}HKGrotesk-Bold.eot'); /* IE9 Compat Modes */
    src: url('#{$font-path}HKGrotesk-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$font-path}HKGrotesk-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('#{$font-path}HKGrotesk-Bold.woff') format('woff'), /* Modern Browsers */
         url('#{$font-path}HKGrotesk-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

/* Webfont: HK Grotesk Bold Italic */
@font-face {
    font-family: 'HK Grotesk';
    src: url('#{$font-path}HKGrotesk-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('#{$font-path}HKGrotesk-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$font-path}HKGrotesk-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('#{$font-path}HKGrotesk-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('#{$font-path}HKGrotesk-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
}

/* Webfont: HK Grotesk Black */
@font-face {
    font-family: 'HK Grotesk';
    src: url('#{$font-path}HKGrotesk-Black.eot'); /* IE9 Compat Modes */
    src: url('#{$font-path}HKGrotesk-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$font-path}HKGrotesk-Black.woff2') format('woff2'), /* Modern Browsers */
         url('#{$font-path}HKGrotesk-Black.woff') format('woff'), /* Modern Browsers */
         url('#{$font-path}HKGrotesk-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
}
